<div class="container genaricContainer">
  <div class="row d-flex justify-content-center">
    <div class="col-lg-3 col-md-6 contact-info-group m-3">
      <i class="fa fa-phone contactIcon"></i>
      <h4 class="infoTitle">Telefon</h4>
      <span class="infoBody">0595 432 43 43</span>
      <span class="infoBody">0321 321 32 12</span>
    </div>
    <div class="col-lg-3 col-md-6 contact-info-group m-3">
      <i class="fa fa-envelope-open-o contactIcon"></i>
      <h4 class="infoTitle">E-posta</h4>
      <span class="infoBody">destek@outdoor.com</span>
    </div>
    <div class="col-lg-3 col-md-6 contact-info-group m-3">
      <i class="fa fa-map-marker contactIcon"></i>
      <h4 class="infoTitle">Adres</h4>
      <span class="infoBody"
        >Merkez Mahallesi Turgut Uyar Sk. Kalkın Kat:2 No:9 34100
        Maltepe/İstanbul</span
      >
    </div>
  </div>
  <div class="row d-flex justify-content-center">
    <div class="col-lg-6 col-md-12 contact-info-group-bottom m-3">
      <form action method="POST">
        <div class="row">
          <div class="col-lg-12">
            <input
              type="text"
              class="form-control"
              name="isim"
              placeholder="Adınız Soyadınız"
              required
            />
            <div class="row mt-3">
              <div class="col-lg-6">
                <input
                  type="mail"
                  class="form-control"
                  name="email"
                  placeholder="E-Posta Adresiniz"
                  required
                />
              </div>
              <div class="col-lg-6">
                <input
                  type="text"
                  class="form-control"
                  name="telefon"
                  placeholder="Telefon Numaranız"
                  required
                />
              </div>
            </div>

            <div class="row my-3">
              <div class="col-lg-12">
                <textarea
                  name="mesajiniz"
                  placeholder="Mesajınız"
                  class="form-control message-box"
                  required
                ></textarea>
              </div>
            </div>

            <button type="button" class="btn mt-3 btnSubmit">
              Mesajı Gönder
            </button>
          </div>
        </div>
      </form>
    </div>
    <div class="col-lg-4 col-md-12 contact-info-group-map m-3">
      <img
        width="380"
        src="https://www.google.com/maps/d/thumbnail?mid=1fLrt_zv1Q12cqvxq0UIaSytAnOM"
      />
    </div>
  </div>
</div>
