.genaricContainer {
    margin-top: 7rem;
}

.home-img {
    background-color: darkred;
}

.boldText {
    font-weight: 600;
}

.btnLink {
    background-color: darkred;
    color: wheat;
    font-weight: 500;
}